name: Build

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest

    name: "PHP ${{ matrix.php }}"

    strategy:
      fail-fast: false
      matrix:
        php: [ 7.3, 7.4, 8.0, 8.1, 8.2, 8.3 ]

    steps:
      -   uses: actions/checkout@v3
          with:
            fetch-depth: 0 # This is needed for Roave BC check

      -   name: Setup PHP
          uses: shivammathur/setup-php@v2
          with:
            php-version: "${{ matrix.php }}"
            tools: "composer, composer-require-checker"

      -   name: Get Composer cache directory
          id: composer-cache
          run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      -   name: Cache Composer
          uses: actions/cache@v3
          with:
            path: ${{ steps.composer-cache.outputs.dir }}
            key: ${{ runner.os }}-php-${{ matrix.php }}-composer-${{ hashFiles('**/composer.json **/composer.lock') }}
            restore-keys: |
              ${{ runner.os }}-php-${{ matrix.php }}-composer-

      -   name: Check composer
          run: composer validate

      -   name: Install dependencies
          run: composer install --no-interaction

      -   name: Composer Require Checker
          if: ${{ matrix.php != '7.3' }}
          run: composer-require-checker

      -   name: CS checks
          run: vendor/bin/phpcs

      -   name: php stan checks
          run: vendor/bin/phpstan analyse --no-progress -l 5 src tests

      -   name: PHPUnit tests
          run: vendor/bin/phpunit tests

      -   name: Install roave/backward-compatibility-check.
          if: ${{ matrix.php != '7.3' }}
          run: composer require --dev --update-with-dependencies roave/backward-compatibility-check

      -   name: Run roave/backward-compatibility-check.
          if: ${{ matrix.php != '7.3' }}
          run: vendor/bin/roave-backward-compatibility-check --from=v3.0.0-ALPHA.2 --format=github-actions  #TODO: When version 3 becomes stable, remove the --from parameter!
